cpusupport-config.h
posix-flags.sh
# Other directories
*.o
spipe/spipe
spiped/spiped
tests/dnsthread-resolve/dnsthread-resolve
tests/nc-client/nc-client
tests/nc-server/nc-server
tests/valgrind/potential-memleaks
tests-output/
