cpusupport-config.h
# Other directories
spipe/*.o
spipe/spipe
spiped/*.o
spiped/spiped
tests/dnsthread-resolve/*.o
tests/dnsthread-resolve/dnsthread-resolve
tests/nc-client/*.o
tests/nc-client/nc-client
tests/nc-server/*.o
tests/nc-server/nc-server
tests/valgrind/*.o
tests/valgrind/potential-memleaks
tests-output/
