language: c
sudo: required
dist: trusty
script: make && make test
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
env:
  global:
    - secure: "iR9Rnj7Jze4wIVk6lLk/473SfhQ6EYDP9po6ZLflPg40wSkV+pR6HhYFkxXPfIl4LA3yEnvHL2x5uDAvyXKMStT/YbzgiwC4R//4m4iyKUzJuO88kLozn3AYHVXs5Lcge1/k/ET8zmXyoZTauXicPkxeCSziJh//IwAxFu1cXLv0IyMGo8k37yG2on5T79L8P/8RBkNpodmxm+PC5wzc9KObT6op7MIxIm4VHN8yGA0B1Hk9LyAT0y2nw9SAgNx8loG/+rCBGe7j6ViRe4Fhyqk1oeT1m4wEeULM6oTJmm4LLkrbnljMhwMmBG6cMbtlwG0LRtpzbk+VjqhkwSEFMWr50qepdjd2BsF+Oz/uQJ1C0u5uRS/uLqZmfr2t7kBg5j7FsBKCqEbBoALj+qPgJxiawfHv7VpRnzOeKagMetit1YcVNCrywOweYbh89KGxJD28KjGOTHVHJ6ZxuIWWvfFkHq2m9DRzAurSj2VN+oQW6f/53YkxCAPTAaBR4UUBTYy4pt8xMdNhEQTcRE00yUAfbBkgKsThaAs34Gm0RGxzYkW0zzYIh0DkK6utjUu5bwq1pB5qC4Qr3BYgzlCOp0wS0rH3S3UurlcP4PWuKIxQzxxylWBIZEqIAe6xs4hfUeuBkPmRk5fIwNTA7m3g+K2skB/adMnYnyD1Rb1hWLM="
    - COVERITY_SCAN_PROJECT_NAME="Tarsnap/spiped"
    - COVERITY_SCAN_BRANCH_PATTERN="coverity-scan"
    - COVERITY_SCAN_NOTIFICATION_EMAIL="cperciva@tarsnap.com"
    - COVERITY_SCAN_BUILD_COMMAND="make all clean"

before_install:
- 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update; fi'
- 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y nmap; fi'
- 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi'
- 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install nmap; fi'
- 'if [[ "${TRAVIS_JOB_NUMBER##*.}" == "1" ]]; then curl -s "https://scan.coverity.com/scripts/travisci_build_coverity_scan.sh" | bash || true ; fi'
- 'if [[ "$TRAVIS_OS_NAME" == "osx" && "$CC" == "gcc" ]]; then CC=gcc-4.9; $CC --version; fi'
