language: c
sudo: false
dist: trusty
matrix:
  include:
    - os: linux
      compiler: clang
      env: CFLAGS="-std=c99 -O2 -Wall -Wextra -Werror -Weverything -Wno-#warnings -Wno-pedantic -Wno-padded -Wno-format-nonliteral -Wno-disabled-macro-expansion -Wno-missing-noreturn -Wno-reserved-id-macro -Wno-cast-align"
    - os: linux
      compiler: gcc
      env: CFLAGS="-std=c99 -O2 -Wall -Wextra -Werror -Wpedantic -pedantic-errors -Wno-clobbered"
    - os: osx
      compiler: clang
      env: CFLAGS="-std=c99 -O2 -Wall -Wextra -Werror -Weverything -Wno-#warnings -Wno-pedantic -Wno-padded -Wno-format-nonliteral -Wno-disabled-macro-expansion -Wno-missing-noreturn -Wno-reserved-id-macro"
env:
  global:
    - secure: "X0KQ8RmzA5frmZWfdZDYT7mHQ2Wv57bdHvck0a6BkVKzOQxKK/4ZO2iP+GUKLDzTx3+U9HH0gaZsebWCBhC173nOvsSI/w3G3eTRkCVEeOm9j/fQPjRRv4tYfVOUjMo7E7bj6AcmSmrYrE13bcmY6Xdc+YKs0OOoPbJHUyzQ8yhqRhOgm9WhMvheGkO6RRheSWgx8F5Ah8Xx5rN+4gKpPWA0LEWdtOiAndPrLb0aAOm3IUAEOWdlbNOklNpztIKkyr+7lG/Mdyvh0HTor1OJUIaDrqISfbbFFFthScjlbgBZb+nCu/+sH3FjDLtGbUh45dRqDPP2d1QeuteTn98sG3chgv1bqqqWM+OPHYwVawT8JJOGPqMWhY815il5KO925NTy2zZ+7sDWZKZmluMa6yf6tso1bNPT5viTPCt3vva1MIfIw9KuXhxQ9wQLLt7NdtDPbaErKVi+IZgxR4B1dOaa1qtoipPtVNkKQsyQ7YBx7Diu/ebazqrTjixO6Mg4DdV6iVEslkibBNc42gXgDDzvj35zOUUFpOkAXNkJd2MBTsJqyHmFOImyFAfJPGgSTzaj9o+8BN2QRF9ia60B4nxRhBIFP9oybWmwU5veam+mnwtX/TRpsNt1Zqi+09ft/AX6PdHmwibJjs9Q+Ua0MOWyVLZttjMNh0hgHCic1+0="
    - TEST_DNSTHREAD_ENABLE_REMOTE=1

addons:
  coverity_scan:
    project:
      name: "Tarsnap/spiped"
      description: "Build submitted via Travis CI"
    notification_email: cperciva@tarsnap.com
    build_command_prepend: ""
    build_command: "make all clean"
    branch_pattern: coverity-scan

before_install:
- test $TRAVIS_BRANCH != coverity-scan -o ${TRAVIS_JOB_NUMBER##*.} = 1 || exit 0
- 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CFLAGS="-I/usr/local/opt/openssl/include $CFLAGS" LDFLAGS="-L/usr/local/opt/openssl/lib $LDFLAGS"; fi'
script:
- test $TRAVIS_BRANCH != coverity-scan || exit 0
- make && make test
